HELP.md
target/
.mvn
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Node artifact files
node_modules/
dist/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
mvnw
mvnw.cmd

.env
.bash_history
.local
*.nogit.*
.vmware-cna-saas
.cache
.config


binaries/*
!binaries/.gitkeep 
!binaries/init.sh
!binaries/tkgwizard.sh
!binaries/readparams.sh
!binaries/readparams-createtkgscluster.sh
!binaries/tkgcreatecluster.sh
!binaries/tanzu-cluster.v1alpha1.template
!binaries/tanzu-cluster.v1alpha2.template
!binaries/tanzu-cluster.v1alpha3.template
!binaries/tanzu-cluster.volumeconfig.template
!binaries/tkgtanzu.sh
!binaries/readparams-tkgtanzu.sh
!binaries/merlin.sh
!binaries/tanzuwizard
.kube/*
!.kube/.gitkeep 
.ssh/*
!.ssh/.gitkeep 
yamls/*
shared/tanzu-clusters/*
!shared/tanzu-clusters/.gitkeep
Dockerfile
*.nogit
tools/kubectl-vsphere
shared/mydev
shared/.ssh/id_rsa
shared/scripts
shared/.env*
!shared/.env.sample
