HELP.md
target/
.mvn
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Node artifact files
node_modules/
dist/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
mvnw
mvnw.cmd

.env
.bash_history
.local
*.nogit.*
.vmware-cna-saas
.cache
.config


binaries/*
!binaries/.gitkeep 
!binaries/init.sh
!binaries/tkgwizard.sh
!binaries/readparams.sh
!binaries/readparams-createtkgscluster.sh
!binaries/create-cluster.sh
!binaries/tanzu-cluster.template
!binaries/tanzu.sh
!binaries/readparams-tanzu.sh
!binaries/tanzuwizard
.kube/*
!.kube/.gitkeep 
.ssh/*
!.ssh/.gitkeep 
yamls/*
tanzu-clusters/*
!tanzu-clusters/.gitkeep
Dockerfile
